<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="VTX.MyEyesVideoMessage" Publisher="CN=4407209A-50B5-4F6F-8A94-0427A21C8F35" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MyEyes Video Message</DisplayName>
    <PublisherDisplayName>VTX</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VideoMessage.App">
      <VisualElements DisplayName="MyEyes Video Message" Logo="Assets\video-message-150-150.jpg" SmallLogo="Assets\video-message-30-30.jpg" Description="VideoMessage" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\message-620-300.jpg" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>